main{
  margin: 20px auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 20px 30px gray;
}
button{
  background-color: black;
  padding: 10px 20px;
  color: orange;
  border-radius: 20px;
  font-size: 18px;
}
.modal{
  position: absolute;
  top: 60%;
  left: 40%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  box-shadow: 10px 20px 30px gray;
}